body {
    background-color: #d6f0cd;
    background-image: linear-gradient(150deg, #e0f3b5, #83ceaf);
}

#wrapper {
    background-image: linear-gradient(#5c5c5c, #181818);
    border: 0px solid #000000;
    display: inline-block;
    width: 600px;
    height: 230px;
    border-radius: 15px;
    position: absolute;
    left: 20%;
    top: 20%
}

#info {
    border: 0px solid #000;
    float: left;
    margin: 10px;
}

#albumcover {
    display: inline-block;
	background-color: #fff;
	border: 0px solid #000;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 3px;
}

#album {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

#player {
    border: 0px solid #000;
    float: left;
    margin: 55px auto auto 10px;
}

#title {
    float: left;
	border: 0px solid #000;
    width: 330px;
    height: 20px;
    vertical-align: middle;
    top: 20%;
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
    letter-spacing: .3px;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-top: 25px;
    margin-left: 7px;
}

.buttons {
    float: left;
	background-color: #fff;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-right: 7px;
}

#play {
    float: left;
    padding: 5px;
}

#pause {
    float: left;
    padding: 5px;
}

#backward {
    float: left;
    padding: 5px;
}

#forward {
    float: left;
    padding: 5px;
}

#shuffle {
    float: left;
    padding: 5px;
}